* {
  box-sizing: border-box;
}
main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
@media (max-width: 400px) {
  main {
    padding: 0;
  }
  header {
    margin: 10px 0;
  }
}
